
env/

\.idea/

face_recognition/__pycache__/

face_recognition/data_creator/

face_recognition/datasets/train/

face_recognition/datasets/test/

face_recognition/datasets/__pycache__/

face_recognition/models/__pycache__/

utils/__pycache__/
