
env/

\.idea/

face_recognition/__pycache__/

face_recognition/images/train/

face_recognition/images/test/

face_recognition/models/__pycache__/

utils/__pycache__/

test\.py

face_recognition/data/img_data\.npy

face_recognition/data/label_data\.npy

face_detection/shape_predictor_68_face_landmarks\.dat

face_recognition/save_models/faceNet\.h5

face_recognition/logs/
